<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.michong_pc.tiku">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".function_activity.Chapter_mode.zhangjiexunlian" />
        <activity android:name=".Activity_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".function_activity.Train_mode.train" />
        <activity
            android:name=".function_activity.Chapter_mode.ZuoTiBan"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".function_activity.Train_mode.Zuotiban_tiankongti"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".Result.Result_score" />
        <activity android:name=".function_activity.Test_mode.Test" />
        <activity
            android:name=".function_activity.Test_mode.Test_chooseBan"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".function_activity.Test_mode.Test_chooce" />
        <activity
            android:name=".function_activity.Test_mode.Suiji_test"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".function_activity.Error_mode.Error_Chapter" />
        <activity android:name=".function_activity.Error_mode.Error_content"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity android:name=".function_activity.Formulary.Formulay_chapter"/>
    </application>

</manifest>